/* Remove Default Margins */
* {
  margin: 0;
  padding: 0;
  font-family: Calibri Light, Avenir Next;
}

.top-images img {
  width: 100%;
  height: auto;
}

.nav-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f2f2f2;
}

.tabs {
  float: left;
  width: 31.41vw;
}

.nav-bar li a {
  display: block;
  color: #363534;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14;
}

.nav-bar li a:hover {
  background-color: #d9d9d9;
}

.active {
  background-color: #d9d9d9;
}

.home {
  width: 3vw;
  float: left;
}

.icons {
  width: 19px;
}

.title {
  margin: auto;
  padding: 3vh;
  text-align: center;
  color: #363534;
}

.content-block {
  width: 60vw;
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

.content {
  width: 50vw;
  text-align: left;
  margin: auto;
  padding-bottom: 3vh;
  color: #363534;
}
