/* Remove Default Margins */
* {
  margin: 0;
  padding: 0;
}

.top-images img {
  width: 100%;
  height: auto;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar li {
  
}
