body {
  margin: 0;
  padding: 0;
  background-color: #243822;
  font-family: monospace;
}

/* NAVIGATION BAR */

.nav-bar {
  overflow: hidden;
  background-color: #1C1C1C;
  margin: -1px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.nav-bar a {
  float: left;
  display: block;
  color: lightgray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar a:hover {
  background-color: #313232;
}

/* MAIN-CONTENT */

.main-content {
  margin-left: 10%;
  margin-top: 1%;
  overflow: hidden;
  position: static;
  color: lightgray;
}
