body {
  overflow: hidden;

  margin: 0;
  padding: 0;
  background-color: #011E00;
  color: #0DFC61;
  font-family: 'VT323', monospace;
}

/* NAVIGATION BAR */

.nav-bar {
  overflow: hidden;
  background-color: #0DFC61;
  margin: -1px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
}

.nav-bar a {
  float: left;
  display: block;
  color: #011E00;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar a:hover {
  background-color: #0B7C2A;
  /* color: lightgray; */
}

/* MAIN-CONTENT */

.main-content {

}
